<%= render "layouts/nav_bar" %>
<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<% if @messages %>
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <p><%= user.name %></p>
      <% if user.name == current_user.name %>
        <% class_name = "me" %>
      <% else %>
        <% class_name = "you" %>
      <% end %>
      <div class="<%= class_name %>">
      <p><%= message.body %></p>
    </div>
    <% end %>
  <% end %>
<% end %>

<%= form_for [@conversation, @message] do |f| %>
  <p><%= f.text_area :body %></p>
  <p><%= f.text_field :user_id, value: current_user.id, type: "hidden" %></p>
  <p><%= f.submit "Send" %></p>
<% end %>
