<%= render "layouts/state" %>
<%= render "layouts/splash" %>
<%= render "layouts/nav_bar" %>

<div class="jumbotron">
  <h1 class="display-4">Welcome to <span style="font-weight: bold;"><span class="v-small">V</span>OTENTIAL!</span></h1>
  <p class="lead">We are a non-profit who's mission is to connect US voters with resources to register to vote, to inform themselves on voter issues and the voting system, and to connect with other voters to create a more powerful American democracy.</p>
  <!-- <hr class="my-4"> -->
  <p>Scroll down to learn more about our mission or click the button below to get started.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#map-div" role="button">Let's go!</a>
  </p>
</div>

<hr>

<blockquote class="blockquote text-center">
  <p class="mb-0">“We do not have government by the majority. We have government by the majority who participate.”</p>
  <footer class="blockquote-footer"><cite title="Source Title">Thomas Jefferson</cite></footer>
</blockquote>

<hr>

<%= render "layouts/cards" %>

<hr/>

<blockquote class="blockquote text-center">
  <p class="mb-0">“Someone struggled for your right to vote. Use it.”</p>
  <footer class="blockquote-footer"><cite title="Source Title">Susan B. Anthony</cite></footer>
</blockquote>

<hr/>

<%= render "layouts/usa_map" %>

<hr/>

<blockquote class="blockquote text-center">
  <p class="mb-0">“Elections belong to the people. It’s their decision. If they decide to turn their back on the fire and burn their behinds, then they will just have to sit on their blisters.”</p>
  <footer class="blockquote-footer"><cite title="Source Title">Abraham Lincoln</cite></footer>
</blockquote>

<hr/>

<!-- <hr/>

<blockquote class="blockquote text-center">
  <p class="mb-0">“Always vote for principle, though you may vote alone, and you may cherish the sweetest reflection that your vote is never lost.”</p>
  <footer class="blockquote-footer"><cite title="Source Title">John Adams</cite></footer>
</blockquote>

<hr/> -->
