<%= render "layouts/nav_bar" %>
<h1>Edit post</h1>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <hr>
  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit  %>
<% end %>
