<%= render "layouts/nav_bar" %>
<h1>Message Board</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
  <div class="container" id="post">
    <p><%= link_to post.title, post_path(post) %>, by <%= post.name %></p>
    <hr>
    <p><%= post.content %></p>
    <p><%= link_to "Reply", new_post_path %></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <% end %>
<% else %>
  <p>There are no posts yet.</p>
<% end %>

<% if @user %>
  <p><%= link_to "Add post", new_post_path %></p>
<% end %>
