<%= render "layouts/nav_bar" %>
<h1 class="forum-header"><%= @post.title %></h1>
<h2><%= @post.name %></h2>
<p><%= @post.content %></p>

<% if @user && @post.name == @user.name %>
  <p><%= link_to "Edit", edit_post_path(@post) %></p>
  <p><%= link_to "Delete post", post_path(@post),
                          :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %></p>
<% end %>

<p><%= link_to "Return to forum", posts_path %></p>
