<!DOCTYPE html>
<html>
  <head>
    <title>VoteUI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar">
      <p><a href="/">Home</a> |
      <a href="/posts">Forum</a></p>
      <% if current_user %>
        <p><a href="/user"><img src="https://img.icons8.com/pastel-glyph/64/000000/person-male.png"></a>
          <%= current_user.name %> |
          <%= link_to "Sign out", '/signout' %> |
          <%= link_to "Chat", '/conversations' %>
        </p>
      <% else %>
        <p><%= link_to "Sign up", '/signup' %> |
        <%= link_to "Sign in", '/signin' %></p>
    <% end %>
    </div>

    <div class="container">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <!--- render "layouts/usa_map" --->
      <%= yield %>
    </div>

  </body>
</html>
