<!DOCTYPE html>
<html>
  <head>
    <title>VoteUI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar">
      <a href="/">Home</a> |
      <a href="/posts">Forum</a>
      <% if current_user %>
        <p><img src="https://img.icons8.com/pastel-glyph/64/000000/person-male.png">
        <%= current_user.email %> |
        <%= link_to "Sign out", '/signout' %></p>
      <% else %>
        <p><%= link_to "Sign up", '/signup' %> |
        <%= link_to "Sign in", '/signin' %></p>
    <% end %>
    </div>

    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </body>
</html>
